body{
    font-size: 20px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.card-columns {
    @media (max-width: 768px) { column-count: 1; }
    @media (min-width: 768px) { column-count: 2; }
    @media (min-width: 992px) { column-count: 3; }
    @media (min-width: 1600px) { column-count: 4; }
    // @include media-breakpoint-only(lg) {
    //   column-count: 4;
    // }
    // @include media-breakpoint-only(xl) {
    //   column-count: 5;
    // }
  }
  .card{
      border: none;
      border-radius: 0;
  }
  .cursor-pointer{
      cursor: pointer;
  }
    a{
        transition: all 0.3s ease-in-out;
    }
    a:hover{
        text-decoration: none;
    }

@mixin type-post {
    color: $link_color;
    font-family: sans-serif;
    font-size: .95rem;
    font-weight: 550;
    &:hover{
        color:#000;
    }
}
.entry-date small{
    color: $primary_color;
    letter-spacing: 0.4px;
    font-style: italic;
    font-family: "Lora", serif;
}